* {
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-lightblue);
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url('meta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #container {
    font-family: 'Roboto Serif', serif;
    border: 2px solid white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff10;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  #title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    width: 75%;
    margin: 0 auto;
    padding: 12px 0 5px;
    
  }

  #description {
    font-family: 'Merriweather', serif;
    color: rgb(241, 209, 23);
    font-size: medium;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 12px 0;
  }

  #label_inputs {
    width: 75%;
    margin: 0 auto;
    padding: 10px;
  }

  #fname,#Myemail,#Mynum {
    width: 100%;
    box-sizing: content-box;
    border-style: none;
    /* border-bottom: 2px solid black; */
    padding: 12px 0;
    outline-style: 2px solid #000;
  }

  #name-label,#email-label,#number-label {
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: left;
  }

  #company_select {
    padding: 16px;  }

  #dropdown{
    display: inline-block;
    width: 45%;
    margin: 0 auto;
    text-align: left;
    padding-right: 0px;
  }

  #company {
    display: inline-block;
    width: 20%;
    box-sizing: content-box;
    padding: 8px;
    border-style: 2px solid black;
    border-radius: 5px;
  }

  #container4 {
    width: 75%;
    margin: 0 auto 12px;
    text-align: left;
  }

  #circle {
    width: 75%;
    margin: 0 auto;
    text-align: left;
  }

  .block1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-bottom: 10px;
  }